
@{
    ViewData["Title"] = "imgUpload";
}

<h1>imgUpload</h1>

<form method="post" enctype="multipart/form-data">
    <hr />
    
  
    <div class="form-group">
        <div class="col-md-offset-0 col-md-10">
            <div class="col-md-offset-0 col-md-10">
                商品ID
            </div>
            <div class="col-md-10">
                <input type="number" name="txtPId" />
            </div>
            <input type="file" name="photo" />
            <input type="submit" value="開始上傳" />
        </div>
    </div>
</form>




