
@{
    ViewData["Title"] = "DataAnalysis";
    Layout = "~/Views/Shared/CMS_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/index.css">
    <link href="~/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!---字型-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">
}

<div class="middle-content">

    <h2 class="mt-3">數據分析</h2>


    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12">
                <h1>~內容~</h1>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/index.js"></script>
}